.navbar {
    display: flex;
    position: fixed;
    top: 20px;
    width: calc(100% - 40px);
    padding: 5px 5px;
    font-weight: 700;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: black;
    justify-content: space-between;
    font-style: italic;
    border: 1px solid #222;
    font-size: 13px;
    flex-direction: row;
}

@media (max-width: 700px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }
}
.gray {
    cursor: default;
    opacity: 0.5;
}

.item {
    margin: 6px;
}